.fx{
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 20px;
    text-align: center;
}

.fx-barcode{
    margin: 0;
    border: 0;;
    padding: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    position: absolute;
    top: -10px;
}

.bar{
    margin: 0;
    border: 0;
    padding: 0;
    bottom: 0;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 30px;
    alignment: center;
}

.barcode{
    margin: 0;
    border: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    top: -70px;
}

.td-bar{
    width: 200px;
    height: 30px;
    padding: 0;
    bottom: 0;
    border: 0;
}
