.navbar-nav li>a:focus,
.navbar-nav li>a:hover {
    background-color: #8b9399;
}
.navbar-nav .dropdown-menu a:hover {
    border-left: 2px solid #5D9CEC;
    background-color: #BDC3C7;
}
.navbar-nav >.open >a:hover,
.navbar-nav >.open >a {
    background-color: #BDC3C7;
    color: #fff;
}
.navbar-nav li.active{
    background-color: #8b9399;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #8b9399;
}
.navbar-toggle {
    background-color: #BDC3C7;
}
.navbar {
    background-color: #BDC3C7;
}
.left_text_box {
    background-color: #BDC3C7;
}
blockquote{
    border-left: 3px solid #BDC3C7;
}
