.navbar-nav li>a:focus,
.navbar-nav li>a:hover {
    background-color: #5D9CEC;
}
.navbar-nav .dropdown-menu a:hover {
    border-left: 2px solid #f7887e;
    background-color: #5D9CEC;
}
.navbar-nav >.open >a:hover,
.navbar-nav >.open >a {
    background-color: #5D9CEC;
}
.navbar-nav li.active{
    background-color: #337AB7;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #337AB7;
}
.navbar-toggle {
    background-color: #5D9CEC;
}
.navbar {
    background-color: #5D9CEC;
}
.left_text_box {
    background-color: #5D9CEC;
}
blockquote{
    border-left: 3px solid #5D9CEC;
}