.navbar-nav li>a:focus,
.navbar-nav li>a:hover {
    background-color: #e8b36f;
}
.navbar-nav .dropdown-menu a:hover {
    border-left: 2px solid #5D9CEC;
    background-color: #E87E04;
}
.navbar-nav >.open >a:hover,
.navbar-nav >.open >a {
    background-color: #03C9A9;
    color: #fff;
}
.navbar-nav li.active{
    background-color: #e8b36f;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #e8b36f;
}
.navbar-toggle {
    background-color: #E87E04;
}
.navbar {
    background-color: #E87E04;
}
.left_text_box {
    background-color: #E87E04;
}
blockquote{
    border-left: 3px solid #E87E04;
}